.box {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    transition: all 300ms;
    box-shadow: 8px 8px 6px #525050;
}

.box:hover{
    height: 110px;
    width: 110px;
    background-color:rgb(127, 187, 255);
}

.box:active{
    background-color: aqua;
}